.navbarStyle {
    width: 5rem;
    height: 100vh;
    background-color: black;
    position: fixed;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 0;
}
