:root {
  font-size: 16px;
  font-family: 'Open Sans';
  min-height: 50px;
  --text-primary: grey;
  --text-secondary: white;
  --bg-primary: yellow;
  --bg-secondary: green;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}
